In [1]:
# itertools groupby
import itertools # built in python

animals = ['dog','dog','horse','horse','horse','dog']
for key,group in itertools.groupby(animals):
    print(key,group)

dog <itertools._grouper object at 0x000001E256F05940>
horse <itertools._grouper object at 0x000001E256F05EE0>
dog <itertools._grouper object at 0x000001E256EF0430>

In [2]:
animals = ['dog','dog','horse','horse','horse','dog']
for key,group in itertools.groupby(animals):
    print(key,list(group))

dog ['dog', 'dog']
horse ['horse', 'horse', 'horse']
dog ['dog']

In [3]:
for key,group in itertools.groupby(sorted(animals)):
    print(key,list(group))

dog ['dog', 'dog', 'dog']
horse ['horse', 'horse', 'horse']

In [ ]:
###################################################################################################

In [6]:
things_tuple = [("animal", "wolf"), ("animal", "sparrow"), ("plant", "cactus"), ("vehicle", "yacht"), 
                ("vehicle", "school bus"), ("vehicle", "car")]

In [10]:
import operator
sort_values = itertools.groupby(sorted(things_tuple,key=operator.itemgetter(0)),operator.itemgetter(0))

for key,group in sort_values:
    print(key.upper())
    for item in group:
    #print(key,list(group))
        print("{} is a type of {}".format(item[1],key))
    print('\n')

ANIMAL
wolf is a type of animal
sparrow is a type of animal


PLANT
cactus is a type of plant


VEHICLE
yacht is a type of vehicle
school bus is a type of vehicle
car is a type of vehicle

In [ ]:
##################################################################################################

In [11]:
# itertools .chain => chain lists together
food = ['Pizza', 'salad','burger']
colors = ['red', 'green']
numbers = list(range(4))

chained = list(itertools.chain(food,colors,numbers))
print(chained)

['Pizza', 'salad', 'burger', 'red', 'green', 0, 1, 2, 3]

In [12]:
food + colors + numbers

['Pizza', 'salad', 'burger', 'red', 'green', 0, 1, 2, 3]

In [15]:
hobbies = { 'pes2021':'prem', 'programming':'deeban',
          'sleeping':'prem'}

In [17]:
chained_item=list(itertools.chain(hobbies,colors))
print(chained_item)

['pes2021', 'programming', 'sleeping', 'red', 'green']

In [18]:
numbers = [1,2,3,4,5]

results = list(itertools.accumulate(numbers))
print(results) # 1+2 , (1+2)+3, ....

[1, 3, 6, 10, 15]

In [19]:
sum_numbers = results[-1] # getting the last value in the list
print(sum_numbers)

15

In [ ]:
########################################################################

In [22]:
import random 
random.randint(1,6)

6

In [24]:
random.random() # random value between 0 and 1

0.8744068021474178

In [26]:
people_in_class = ['prem','deeban','adilah','afiq','syafiq','vun gin']
lottery_winner = random.choice(people_in_class)
print(lottery_winner,"wins extra 5 minutes break")

afiq wins extra 5 minutes break

In [ ]:
########################################################################

ModuleNotFoundError: No module named 'pytime'

In [36]:
import pytime
from pytime import pytime

In [38]:
#get mothers day in year 2019
mothers_day_2019 = pytime.mother(2019)

In [39]:
mothers_day_2019

datetime.date(2019, 5, 12)

In [44]:
last_day=pytime.last_day(month=12)

In [45]:
last_day

datetime.date(2021, 12, 31)

In [47]:
from datetime import timedelta
duration =timedelta(hours=2,days=14)

last_day + duration

datetime.date(2022, 1, 14)

In [48]:
from datetime import datetime
now = datetime.now()

In [49]:
now

datetime.datetime(2021, 7, 15, 19, 3, 17, 509880)

In [50]:
now + duration

datetime.datetime(2021, 7, 29, 21, 3, 17, 509880)

In [53]:
# list comprehensions
numbers=[1,3,5,11,13]
numbers

[1, 3, 5, 11, 13]

In [54]:
squares_1 = []
for number in numbers:
    squares_1.append(number**2)
squares_1

[1, 9, 25, 121, 169]

In [55]:
squares_2 = [number**2 for number in numbers ]
squares_2

[1, 9, 25, 121, 169]

In [57]:
#square only even numbers
numbers = [1,2,3,4,5,6,7]
squares_1 = []
for number in numbers:
    if number %2 == 0:
        squares_1.append(number**2)
squares_1

[4, 16, 36]

In [58]:
squares_3 = [number**2 for number in numbers if number %2 ==0]
squares_3

[4, 16, 36]

In [59]:
# square numbers in range (0,10) and store in list
[x**2 for x in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
st = 'Create a list of the first letters of every first letter in string'

[x[0] for x in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'f', 'l', 'i', 's']

In [61]:
st.split()

['Create',
 'a',
 'list',
 'of',
 'the',
 'first',
 'letters',
 'of',
 'every',
 'first',
 'letter',
 'in',
 'string']

In [62]:
st_2 = 'create |a |list|of|words|here'
st_2.split("|")

['create ', 'a ', 'list', 'of', 'words', 'here']

In [63]:
a = [1,2,4]
b = ['one','two','four']

In [64]:
[x for x in zip(a,b)] # inserting first list into second list by index, 0-0,1-1

[(1, 'one'), (2, 'two'), (4, 'four')]

In [65]:
{y:x for x,y in zip(a,b)}

{'one': 1, 'two': 2, 'four': 4}

In [67]:
a = [ 2, 4 , 5 ]
b = [ 23 , 65 , 78 ]
c=  list (range( 0 , 3 ) )

print(a)
print(b)
print(c)

[2, 4, 5]
[23, 65, 78]
[0, 1, 2]

In [68]:
[x for x in zip(a,b,c)]

[(2, 23, 0), (4, 65, 1), (5, 78, 2)]

In [69]:
[{'student_no ':x,'student_age':y,'student_lucky_number':z}for x,y,z in zip(a,b,c)]

[{'student_no ': 2, 'student_age': 23, 'student_lucky_number': 0},
 {'student_no ': 4, 'student_age': 65, 'student_lucky_number': 1},
 {'student_no ': 5, 'student_age': 78, 'student_lucky_number': 2}]

In [70]:
#file I/O
with open('test.txt','w')as f:
    f.write("This is a file that I created")
    f.write('\nThis is a second line in this text')

In [71]:
with open('test.txt','r') as f : # f is juat a name, can name it anything
    for line in f:
        print(line)

This is a file that I created

This is a second line in this text

In [73]:
filename = 'many_lines.txt'

with open (filename, 'w') as f :
    f.write("Here are some example text ...\n")
    n=5
    f.write("The value of n is {}".format(n))
    
    f.write ('\nThe lyrics to 50 songs: \n')
    for i in range(50):
        f.write("This is sample line code:{}\n".format(i))

In [ ]:
with open(filename,'r')as input_file:
    file_contents = input_file.read

In [74]:
import csv
with open('example.csv','w')as f :
    writer = csv.writer(f)
    writer.writerow(['Year','Make','Price'])
    writer.writerow(['2019','BMW','RM 256,000'])
    writer.writerow(['2009','Toyota','RM 15,000'])
    writer.writerow(['2000','Honda','RM 34,000'])

In [75]:
with open('example.csv','r') as f :
    reader = csv.reader(f)
    for i in reader:
        print(i)

['Year', 'Make', 'Price']
[]
['2019', 'BMW', 'RM 256,000']
[]
['2009', 'Toyota', 'RM 15,000']
[]
['2000', 'Honda', 'RM 34,000']
[]